@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --nav-height: 70px;
  --foreground: #fff;
  --background-start: #000000;
  --background-end: #181420;
  --theme-bg-start: #7952e4;
  --theme-bg-end: #7c00e2;
  --button-hover-bg: #7c00e2;
  --button-hover-fg: #ffffff;
}



*{
  scroll-behavior: smooth;
  transition: 1s;
  
}

*::-webkit-scrollbar{
  appearance: none;
  height: 8px;
  width: 8px;
}
*::-webkit-scrollbar-thumb{
  background-color: var(--theme-bg-start);
  border-radius: 6px;
}

*::-webkit-scrollbar-track{
  background: transparent;
}

body {
  color: var(--foreground);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end)
    )
    var(--background-start);


}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@media only screen and (max-width: 768px) {
    .desktop-only{
      display: none;
    }
    .page-height{
      padding-bottom: var(--nav-height)
    }
}

@media only screen and (min-width: 768px) {
  .mobile-only{
    display: none;
  }

  .page-height{
    height: calc(100vh - var(--nav-height));
  }
}

.nav-height{
  height: var(--nav-height);
}

.page-height{
  overflow-y: scroll;
}

section h2{
  width: 100%;
  margin: 5px;
  text-align: left;
  font-size: 1.875rem; 
  line-height: 2.25rem;
  border-bottom: 1px solid #6b7280;
}

.button-bg{
  background-color: var(--theme-bg-start);
  font-weight: 700;
}



.button-bg:hover{
  background-color: var(--button-hover-bg);
  color: var(--button-hover-fg);
}
