.media-galery ul li{
    width: 33%;
    margin: 2px
}

@media only screen and (max-width: 768px){
    .media-galery ul li{
        width: 100%;
        margin: 2px
    }
}

@media only screen and (min-width: 768px){
    .media-galery ul li{
        width: 49%;
        margin: 2px
    }
}

@media only screen and (min-width: 1438px){
    .media-galery ul li{
        width: 33%;
        margin: 2px
    }
}
