.media-galery ul li{
    width: 33%;
    margin: 2px
}

@media only screen and (max-width: 768px){
    .media-galery ul li{
        width: 100%;
        margin: 2px
    }
}

@media only screen and (min-width: 768px){
    .media-galery ul li{
        width: 49%;
        margin: 2px
    }
}

@media only screen and (min-width: 1438px){
    .media-galery ul li{
        width: 33%;
        margin: 2px
    }
}

.project-description{
    position: absolute;
    
    bottom: -10px;
    height: 0px;
    transform: translateY();
    background-color: #000000a4;
    text-align: justify;
    padding: 4px 8px;
}

.media-galery ul li{
    position: relative;
    overflow: hidden;
}

.media-galery ul li:active{
    border: 1px solid var(--theme-bg-start);
}

.media-galery ul li:hover .project-description{
    height: 250px;
    

}